@{
    ViewData["Title"] = "Login Success";
}

<div class="container mt-5">
    <div class="alert text-center" style="background-color: #11e833; color: white;">
        <h2>Login Success!</h2>
    </div>
</div>
